body{
  height: 100vh;
  background-image: url("background.png");
  background-size: auto 100%;
  overflow: hidden;
}

.container{
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

.long-div{
  min-height: 1px;
  height: 100%;
  display: block;
  width: 500%;
}

.small-container{
  float: left;
  width: calc(100vw - 16px - 40px);
  padding: 20px;
  height: calc(100% - 40px);
}

.text{
  float: left;
  width: calc(100vw - 16px - 40px);
  /*margin-left: 300vw;*/
  background-color: rgba(255, 255, 255, 0.5);
  height: 200px;
  text-align: center;
  padding: 20px;

}

.square{
  background-color: #00f;
  height: 100px;
  width: 50%;
  display: block;
  margin: auto;
  position: relative;;
  top: 50%;
  transform: translateY(100%);
}

.actor{
  background-color: #f00;
  height: 100px;
  width: 100px;
  display: none;
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
}
